<%- include('header.ejs') %>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newItem.forEach(i => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="delbox"
        value="<%= i._id %>"
        onChange="this.form.submit()"
      />
      <p><%= i.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>" />
  </form>
  <% }) %>

  <form action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
      required
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer.ejs') %>
